<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="antd,umi,umijs,,脚手架,布局, ,项目,Pro,admin,控制台,主页,开箱即用,中后台,解决方案,组件库" />
    <meta name="description" content="An out-of-box UI solution for enterprise applications as a React boilerplate." />
    <meta name="description" content="开箱即用的中台前端/设计解决方案。" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>茶马古窖</title>
    <link rel="icon" href="https://static.chamagujiao.net/images/favicon.ico" type="image/x-icon" />
  </head>
  <body id="app">
    <noscript>Out-of-the-box mid-stage front/design solution!</noscript>
    <!-- <div id="root"></div> -->
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/tinymce/5.8.2/tinymce.min.js"></script> -->
    <script src="https://static.chamagujiao.net/js/tinymce/tinymce.min.js"></script>
  </body>
</html>
